html{height:100%;overflow:hidden}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,fieldset,legend,input,button,textarea,select,blockquote,th,td{ margin:0; padding:0;}

table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
li,dd{ list-style:none;}
em,i{font-style:normal;}
body{ font:normal 12px Verdana, Tahoma, Arial, Helvetica, "宋体", sans-serif; color:#666666; background-color:#262626;}

a{outline:none;color:#E5E5E5; text-decoration:none;}
a:hover{text-decoration:none;color:#FF6600;}
a:active{star:expression(this.onFocus=this.blur());}
img,a .img{border:0}

p{ color:#999999}

.clearfix:after {content:"."; clear:both; display:block; visibility:hidden; height:0;}
.clearfix {display:inline-block;}
.clearfix {display:block;}

.fleft{ float:left;}
.fright{ float:right;}
.ovhide{ overflow:hidden;}
.liend{ border:none !important;}

.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.ml20{ margin-left:20px !important;}
.mr5{ margin-right:5px !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}


.gotop{position:absolute;width:40px;height:565px!important;height:540px;right:58px!important;right:40px;top:500px;}
.gotop a{position:absolute; display:block;bottom:0;right:0;width:40px;height:40px;
    background:url(../images/gotop_01.png) no-repeat;	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://long.pipi.cn/clientwww/images/gotop_01.png");
	_background-image:none; cursor:pointer;}
.gotop a:hover{
	background:url(../images/gotop_02.png) no-repeat;	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://long.pipi.cn/clientwww/images/gotop_02.png");
	_background-image:none;}




.index{position:relative;z-index:100;height:556px;overflow-x:hidden;overflow-y:scroll;background:#262626;      
    scrollbar-face-color:#272727;
    scrollbar-highlight-color:#535353;
    scrollbar-shadow-color:#131313;
    scrollbar-3dlight-color:#131313;
    scrollbar-arrow-color:#BFBFBF;
    scrollbar-track-color:#1C1C1C;
    scrollbar-darkshadow-color:#000000;
}

.wrap{ position:relative;width:950px;margin:0 auto; overflow:hidden; padding:10px 10px 40px 10px; background-color:#262626;}

.w950{width:950px; margin:0 auto;}
.L240{ float:left;width:240px;overflow:hidden;}
.R700{ float:right;width:700px;overflow:hidden;}
.L700{ float:left;width:700px;overflow:hidden;}
.R240{ float:right;width:240px;overflow:hidden;}





.playbtn{}
.playbtn a{float:left;width:108px; height:35px;background:url(../images/star.png) no-repeat 0 -80px;}
.playbtn a:hover{ background:url(../images/star.png) no-repeat 0 -116px;}


.stars{text-align:left;}
.stars strong{ float:left;margin-left:7px; width:24px;font:normal normal 11px Verdana, Tahoma; color:#C72F00;}
.stars .strack{
	float:left;display:inline-block; width:63px; height:11px;
	background:url(../images/star.png) no-repeat 0 -11px;}
.stars .fen{
	display:inline-block; width:63px; height:11px; overflow:hidden;
	background:url(../images/star.png) no-repeat 0 0;}
.stars .f10{ width:63px;}
.stars .f8x{ width:58px;}
.stars .f8{ width:53px;}
.stars .f6x{ width:45px;}
.stars .f6{ width:36px;}
.stars .f4x{ width:31px;}
.stars .f4{ width:23px;}
.stars .f2x{ width:19px;}
.stars .f2{ width:11px;}
.stars .f0{ width:0;}


.Bstars{}
.Bstars strong{
	float:right; width:36px;color:#DF3300; font-size:22px; font-family:"Times New Roman",Times,serif;}
.Bstars em{float:right; font-style:normal; margin-top:6px;}
.Bstars .strack{
	float:right; display:inline-block; width:94px; height:16px; margin:4px 8px 0 0;
	background:url(../images/star.png) no-repeat -103px -16px;}
.Bstars .fen{
	display:inline-block; width:94px; height:16px; overflow:hidden;
	background:url(../images/star.png) no-repeat -103px 0;}
.Bstars .f10{ width:94px;}
.Bstars .f8x{ width:87px;}
.Bstars .f8{ width:75px;}
.Bstars .f6x{ width:67px;}
.Bstars .f6{ width:55px;}
.Bstars .f4x{ width:48px;}
.Bstars .f4{ width:36px;}
.Bstars .f2x{ width:28px;}
.Bstars .f2{ width:16px;}
.Bstars .f0{ width:0;}


.scorebox{width:158px; height:24px; padding:5px 0 0 12px; background-color:#202020; margin:0 auto}
.scorebox label{ float:left; width:56px; color:#FFF; margin-top:3px;}
.scorebox ul{
	position:relative; float:left; width:94px; height:16px;
	background:url(../images/star.png) no-repeat -103px -16px;}
.scorebox li{ float:left;}
.scorebox li span{ display:none;}
.scorebox li.current-rating {	
	display:block; z-index:991; width:0; height:15px;
	background:url(../images/star.png) no-repeat -103px -16px;}
.scorebox li a {width:15px;	height:15px; position:absolute; display:block; z-index:993;}
.scorebox li a:hover {
	position:absolute; z-index:992; left:0;
	background:url(../images/star.png) no-repeat -103px -0;}
.scorebox a.one-star {left:0px;}
.scorebox a.one-star:hover{width:16px;}
.scorebox a.two-stars{left:20px;}
.scorebox a.two-stars:hover{width:36px;}
.scorebox a.three-stars{left:40px;}
.scorebox a.three-stars:hover{ width:56px;}
.scorebox a.four-stars{left:60px;}
.scorebox a.four-stars:hover{width:76px;}
.scorebox a.five-stars{left:80px;}
.scorebox a.five-stars:hover{width:96px;}

.ifeel{ width:616px; margin:0 auto; padding-top:10px;}
.ifeel li{ float:left; width:77px; text-align:center;}
.ifeel li a{ float:left; width:77px; height:50px; margin-bottom:5px; overflow:hidden; line-height:99em; background:url(../images/star.png) no-repeat 0 -450px;}
.ifeel li a.cj{ background-position:0 -450px;}
.ifeel li a.ya{ background-position:-77px -450px;}
.ifeel li a.bx{ background-position:-154px -450px;}
.ifeel li a.cl{ background-position:-231px -450px;}
.ifeel li a.jd{ background-position:-308px -450px;}
.ifeel li a.yy{ background-position:-385px -450px;}
.ifeel li a.ll{ background-position:-462px -450px;}
.ifeel li a.zh{ background-position:right -450px;}

.flip{}
.flip a{float:left;padding:0;margin:0 3px 0 0;height:17px;}
.flip a.on{width:15px; height:15px; margin:0 1px; background:url(../images/d_02.gif) no-repeat center;}
.flip a.dot{width:15px; height:15px; margin:0 1px; background:url(../images/d_01.gif) no-repeat center;}
.flip a.dot:hover{background:url(../images/d_02.gif) no-repeat center;}
.flip a.bef{width:19px; height:17px; background:url(../images/l_01.gif) no-repeat;}
.flip a.bef:hover{background:url(../images/l_02.gif) no-repeat;}
.flip a.nex{width:19px; height:17px; background:url(../images/r_01.gif) no-repeat;}
.flip a.nex:hover{background:url(../images/r_02.gif) no-repeat;}


.letu{float:left;width:43px;margin:7px 0 0 0; background-color:#00CC66}
.letu a{float:left;padding:0;margin:0;height:21px;}
.letu a.lb{width:22px; height:21px;background:url(../images/star.png) no-repeat 0 -152px;}
.letu a.lb:hover{background:url(../images/star.png) no-repeat 0 -174px;}
.letu a.lbb{width:22px; height:21px;background:url(../images/star.png) no-repeat 0 -196px;}
.letu a.fg{width:21px; height:21px;background:url(../images/star.png) no-repeat -22px -152px;}
.letu a.fg:hover{background:url(../images/star.png) no-repeat -22px -174px;}
.letu a.fgg{width:21px; height:21px;background:url(../images/star.png) no-repeat -22px -196px;}


.fany{float:right;width:88px;padding:0; margin:6px 0 0 0;}
.fany a{ float:left;margin:0 4px 0 0;height:22px;}
.fany a.pre{width:24px;background:url(../images/star.png) no-repeat -146px -34px;}
.fany a.pre:hover{ background:url(../images/star.png) no-repeat -146px -57px;}
.fany a.next{width:55px;background:url(../images/star.png) no-repeat -59px -34px;}
.fany a.next:hover{ background:url(../images/star.png) no-repeat -59px -57px;}


.pagination{ text-align:center; padding-top:30px;}
.pages{ margin:0px auto;font-family:Verdana, Tahoma; overflow:hidden}
.pages a,
.pages span{ display:inline-block; height:22px; padding:0 8px; margin:0 2px; text-align:center; line-height:22px; overflow:hidden; color:#999; background:url(../images/images2013/page_bg.gif) repeat-x; }
.pages a{ border:1px solid #2b2d2f;}	

.pages a:hover{ text-decoration:none; background:url(../images/images2013/page_hover.gif); color:#e6e6e6}
.pages .current{ background:none}

.pages span.first,
.pages span.last,
.pages span.min-pgup,
.pages span.min-pgdown,
.pages a.min-pgup,
.pages a.min-pgdown,
.pages a.first,
.pages a.last{ width:26px; padding:0; height:24px; line-height:999px; vertical-align:top; overflow:hidden; border:none;background:url(../images/images2013/pages.gif?d=0802) no-repeat;}

.pages span.first{  background-position:-202px -60px;}
.pages span.last{ background-position: -236px -60px;}	
.pages span.min-pgup{ background-position: -65px -60px;}
.pages span.min-pgdown{ background-position: -99px -60px;}

.pages a.first{ background-position:-202px 0;}
.pages a.first:hover{background:url(../images/images2013/pages.gif?d=0802) no-repeat -202px -31px;}
.pages a.last{ background-position:-236px 0;}
.pages a.last:hover{ background:url(../images/images2013/pages.gif?d=0802) no-repeat -236px -31px;}

.pages a.min-pgup{ background-position: -65px 0;}
.pages a.min-pgup:hover{background:url(../images/images2013/pages.gif?d=0802) no-repeat -65px -31px;}
.pages a.min-pgdown{ background-position: -99px 0;}
.pages a.min-pgdown:hover{background:url(../images/images2013/pages.gif?d=0802) no-repeat -99px -31px;}


.shouc{float:left;}
.shouc li.tj{position:relative;margin:10px 17px 0 0!important;margin:12px 0 0 0;}
.shouc li.tj a{float:left;display:block;width:15px;height:15px;background:url(../images/shouc_01.gif) no-repeat;}
.shouc li.tj a:hover{background:url(../images/shouc_02.gif) no-repeat;}
.shouc li.tj.hovers .fus{width:57px; height:21px; position:absolute;left:-22px!important;left:-53px;top:-22px; background:url(../images/star.png) no-repeat -89px -152px;}

.shouc li.qx{position:relative;margin:10px 17px 0 0!important;margin:12px 0 0 0;}
.shouc li.qx a{float:left;display:block;width:15px;height:15px;background:url(../images/shouc_02.gif) no-repeat;}
.shouc li.qx a:hover{background:url(../images/shouc_01.gif) no-repeat;}
.shouc li.qx.hovers .fus{width:57px; height:21px; position:absolute;left:-22px!important;left:-53px;top:-22px; background:url(../images/star.png) no-repeat -89px -174px;}

/* 11月30日修改 */
.shouc li.tj a{float:left;display:block; width:auto;height:15px;background:url(../images/shouc_01.gif) no-repeat;  background-position:0 center; background-position:0 -2px\9; *background-position:0 -1px;
padding-left:25px; line-height:15px; color:#da2777;}
.shouc li.tj a:hover{background:url(../images/shouc_02.gif) no-repeat;  background-position:0 center; background-position:0 -2px\9;*background-position:0 -1px; font-weight:bold;}

.shouc li.qx a{float:left;display:block; width:auto;height:15px;background:url(../images/shouc_02.gif) no-repeat; background-position:0 center; background-position:0 -2px\9;*background-position:0 -1px; padding-left:25px; line-height:15px; color:#7d7d7d;}
.shouc li.qx a:hover{background:url(../images/shouc_01.gif) no-repeat; background-position:0 center; background-position:0 -2px\9; *background-position:0 -1px;}



.tab{}
.tab li{float:left; width:83px; height:28px; margin-right:5px; background:url(../images/ssli_01.gif) no-repeat; text-align:center; line-height:28px; color:#999;cursor:pointer} 
.tab li.on{ float:left; width:83px; height:28px; margin-right:5px; background:url(../images/ssli_02.gif) no-repeat; color:#D7D7D7}
.tab li a{ color:#999;}
.tab li a.tv{ background:url(../images/logo2.gif?d=1225) no-repeat; display:inline-block; padding-left:30px;}
.tab li.on a{ color:#d7d7d7;}
.tab li a.youku{ background-position:0 6px; background-position:0 4px\9;}
.tab li a.qiyi{ background-position:0 -26px; background-position:0 -28px\9;}
.tab li a.tengxun{ background-position:0 -90px; background-position:0 -92px\9;}
.tab li a.tudou{ background-position:0 -58px; background-position:0 -60px\9;}
.tab li a.wuliu{ background-position:0 -122px; background-position:0 -124px\9;}
.tab li a.leshi{ background-position:0 -152px; background-position:0 -154px\9;}
.tab li a.pps{ background-position:0 -186px; background-position:0 -188px\9;}
.tab li a.pptv{ background-position:0 -218px; background-position:0 -220px\9;}
.tab li a.sohu{ background-position:0 -250px; background-position:0 -252px\9;}
.tab li a.kuliu{ background-position:0 -282px; background-position:0 -284px\9;}
.tab li a.fenghuang{ background-position:-72px -90px; background-position:-72px -92px\9;}
.tab li a.xunlei{ background-position:-72px -154px; background-position:-72px -156px\9;}
.tab li a.doupan{ background-position:-72px -186px; background-position:-72px -188px\9;}
.tab li a.wangyi{ background-position:-144px -90px; background-position:-144px -92px\9;}
.tab li a.jidong{ background-position:-72px -26px; background-position:-72px -26px\9;}
.tab li a.huashu{ background-position:-144px -122px; background-position:-144px -122px\9;}
.tab li a.fangzhou{ background-position:-144px -58px; background-position:-144px -58px\9;}
.tab li a.gongkaike{ background-position:-144px 6px; background-position:-144px 4px\9;}
.tab li a.m1905{ background-position:-72px -58px; background-position:-72px -60px\9;}
.tab li a.cntv{ background-position:-144px -152px; background-position:-144px -154px\9;}
.tab li.hover{color:#D7D7D7;cursor:pointer}
.tab li.hover a{ color:#d7d7d7; cursor:pointer;}


.teb{float:right; margin-top:35px;}
.teb li{float:left; width:83px; height:28px; margin-left:5px; background:url(../images/ssli_01.gif) no-repeat; text-align:center; line-height:28px; color:#999999;} 
.teb li.on{background:url(../images/ssli_02.gif) no-repeat; color:#D7D7D7;}
.teb li.hover{color:#D7D7D7;cursor:pointer}

.ztcon{ width:700px; display:inline-block;}


/*11月22日修改*/
#bg_18da{ position:relative; background:url(../images/bg_18da.jpg) no-repeat top center; height:500px; z-index:-1;}
.bg_height{ height:50px; width:950px; margin:0 auto; padding-bottom:10px; position:relative;}
.bg_close{ position:absolute; background:url(../images/bg_close.jpg) no-repeat; display:block; width:40px; height:17px; bottom:10px; right:0; cursor:pointer;}
.wraps{ position:relative;width:950px;margin:-440px auto 0; overflow:hidden; padding:0px 0px 40px 0px; background-color:#262626;}


/*4月7日修改*/
.mask{ position:absolute; top:0; left:0; width:100%; height:2280px; background:#000; opacity:0.6; z-index:100;filter:Alpha(opacity=60);}
.login_form{ position:absolute; top:105px; left:50%; margin-left:-204px; width:408px; border:1px solid #adadad; background:#282828; z-index:101;}
.close_btn{ position:absolute; top:10px; right:10px; background:url(../images/close_btn.gif) no-repeat; display:block; width:11px; height:11px; z-index:102;}
.login_con{ position:relative; padding:20px 0}
.login_box{ padding:10px 43px; border-top:1px solid #4b4b4b;}
.login_con h3{ color:#999; font-size:18px; line-height:36px; font-weight:normal; padding-left:43px; border-bottom:1px solid #262626;}
.login_con p { padding-bottom:10px; width:300px; overflow:hidden; line-height:28px;}
.login_con p label{ float:left; width:58px; text-align:right; display:block; color:#c5c5c5; font-size:14px; line-height:28px; height:28px;}
.login_con p .txt{ float:left; border:1px solid #666; background:#fff; color:#363636; width:218px; height:26px; line-height:26px; padding:0 10px; display:inline-block;}
.login_con p.yam{ overflow:hidden}
.login_con p.yam label{ float:left; line-height:26px;}
.login_con p.yam .short_txt{ float:left; border:1px solid #666; background:#fff; color:#363636; width:98px; height:26px; line-height:26px; padding:0 10px; display:inline-block;}
.login_con p.yam img{ float:left; margin-left:6px; margin-right:8px;}
.login_con p.yam a{ float:left; line-height:26px;}
.login_con .checkbox{ margin-top:9px;margin-top:7px\9;*margin-top:3px; margin-right:5px; line-height:22px; float:left; display:inline;}
.login_con p span{ line-height:28px; height:28px; float:left; margin-right:15px; display:inline; color:#c5c5c5;}
.login_con a{ color:#c5c5c5;}
.login_con a:hover{ color:#ff6801;}
.login_con .login_btn{ display:inline-block; margin:0 15px 0 60px; background:#ff6801; width:90px; height:35px; text-align:center; line-height:35px; color:#fff; font-size:14px;}
.login_con .login_btn:hover{ color:#fff;}

.login_con span{ display:block;:}
.login_con span.error_tips{ color:#f00; line-height:16px; padding-bottom:10px; padding-left:60px; width:240px; overflow:hidden; white-space:nowrap;}
.login_con span.error_tips em{ position:absolute; display: block; background:url(../images/tips_2.gif) no-repeat; width:4px; height:6px; top:8px; left:-4px;}
.login_con span.error_tips .error_icon{ float:left; display:inline-block; background:url(../images/error_icon.gif) no-repeat; width:13px; height:13px; margin-top:3px; margin-top:1px\9;_margin-top:0; margin-right:3px; }



.reg_form{ position:absolute; top:105px; left:50%; margin-left:-246.5px; width:493px; border:1px solid #adadad; background:#282828; z-index:101;}
.reg_con{ padding:13px 0 25px;}
.reg_con h3{ color:#999; font-size:18px; font-weight:normal; line-height:42px; padding-left:35px; border-bottom:1px solid #262626;}
.reg_con .reg_box{ border-top:1px solid #4b4b4b; padding:0 153px 0 85px; }
.reg_con .reg_box p{ padding-top:18px; _padding-top:15px; position:relative; line-height:28px; width:255px; height:28px;_height:26px;}
.reg_con .reg_box p label{ float:left; display:block; width:56px; text-align:right; font-size:14px; margin-right:10px; line-height:28px; }
.reg_con .reg_box p .txt{ float:left;  border:1px solid #666; background:#fff; color:#363636; height:26px; width:167px;_width:160px; padding:0 10px; line-height:26px;}
.reg_con .reg_box p .highlight{ border:#1px solid #00F;}
.reg_con .reg_box p.yzm label{ float:left; line-height:26px;}
.reg_con .reg_box p.yzm .short_txt{ float:left; border:1px solid #666; background:#fff; color:#363636; height:26px; width:56px; padding:0 10px; line-height:26px;}
.reg_con .reg_box p.yzm img{ float:left; margin-left:6px; margin-right:8px;}
.reg_con .reg_box p.yzm a{ float:left; line-height:26px;}
.reg_con .reg_box p span{ position:absolute; display:block;}
.reg_con .reg_box p span.tips{ top:18px;_top:15px; left:265px; background:#f1f6fd; border:1px solid #459ad6; width:105px; color:#459ad6; line-height:16px; padding:5px}
.reg_con .reg_box p span.tips em{ position:absolute; display: block; background:url(../images/tips_1.gif) no-repeat; width:4px; height:6px; top:8px; left:-4px;}
.reg_con .reg_box p span.error_tips{ top:19px;_top:16px; left:265px; background:#fffab1; border:1px solid #f7ab00; width:105px; color:#ff6801; line-height:16px; padding:5px}
.reg_con .reg_box p span.error_tips em{ position:absolute; display: block; background:url(../images/tips_2.gif) no-repeat; width:4px; height:6px; top:8px; left:-4px;}
.reg_con .reg_box p span.error_tips .error_icon{ float:left; display:inline-block; background:url(../images/error_icon.gif) no-repeat; width:13px; height:13px; margin-top:3px; margin-top:1px\9;_margin-top:0; margin-right:3px; }
.reg_con .reg_box p span.error_tips img{ float:left; margin-right:8px; margin-top:3px;}

.reg_con .reg_box .reg_btn{ display:inline-block; background:#ff6801; height:35px; width:189px; color:#fff; text-align:center; line-height:35px; font-size:14px; margin-left:66px; margin-top:25px; cursor:pointer;}
.reg_con .reg_box p.login_tips{ text-align:center; padding-top:13px; line-height:12px;}


.user_info{ float:left; margin-left:12px; color:#fff;}
.user_info span{ margin-right:10px;}
.user_info a{ color:#999; line-height:19px;}
.user_info a:hover{ color:#f60;}
.user_info p{ margin-top:15px;_margin-top:17px;}
.user_info p a{ display:inline-block; line-height:16px; color:#fff; margin-left:0;}
.user_info p a:hover{ color:#f60;}
.user_info p a img{ float:left; margin-right:3px; display:inline; margin-top:-2px\9;}

