/* 
 * My97 DatePicker 4.7 Skin:sms
 */
 *{ margin:0; padding:0; outline:none;}
table{ border-collapse: collapse; border-spacing: 0; }
table td{ border:none;}
input{ vertical-align:middle;}
.WdateDiv{
	width: 237px;
	color:#333;
	background-color: #fff;
	position: relative;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:12px;}

.navImg { margin-top: 7px;}
.WdateDiv .NavImgll,
.WdateDiv .NavImgl{ float:left;}
.WdateDiv .NavImgrr,
.WdateDiv .NavImgr{ float:right;}
.WdateDiv .navImg a,
.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:12px;
	height:12px;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgll{ margin: 7px 4px 0 10px;}
.WdateDiv .NavImgll a{ background-position:0 0;}
.WdateDiv .NavImgll a:hover{ background-position: 0 -18px;}
.WdateDiv .NavImgl{ margin:7px 4px 0;}
.WdateDiv .NavImgl a{  background-position:-19px 0px; }
.WdateDiv .NavImgl a:hover{ background-position: -19px -18px;}
.WdateDiv .NavImgr{ margin:7px 4px 0;}
.WdateDiv .NavImgr a{  background-position: -37px 0px;}
.WdateDiv .NavImgr a:hover{ background-position: -37px -18px;}
.WdateDiv .NavImgrr{ margin: 7px 10px 0 4px;}
.WdateDiv .NavImgrr a{ background-position: -57px 0px;}
.WdateDiv .NavImgrr a:hover{ background-position: -57px -18px;}

.WdateDiv #dpTitle{
	height: 28px;
	background: #70a6cc;
}

.WdateDiv .yminput{
	margin: 4px 10px;
	text-align:center;
	border:0px;
	height:20px;
	line-height:20px;
	width:50px;
	color: #fff;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin: 3px 10px;
	text-align:center;
	border: #bbdff9 1px solid;
	font-weight:bold;
	color: #bbdff9;
	height:20px;
	line-height:20px;
	width:50px;
	background-color:transparent;
	outline:none;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color: #fff;
	border: 1px solid #f0f0f0;
	display:none;
	line-height: 20px;
}
.WdateDiv .menuSel table{
	line-height:18px;
}
.WdateDiv .menuSel table td{ 
	padding:0 5px;
}
.WdateDiv .menu{
	cursor:pointer;
}

.WdateDiv .menuOn{
	cursor:pointer;
	color: #70a6cc;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	top:20px;
}

.WdateDiv .MMenu{
	top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	top:-78px;
	left:36px;
}

.WdateDiv .mmMenu{
	top: -42px;
	left: 50px;
}

.WdateDiv .ssMenu{
	top: -24px; 
	left:80px;
}

.WdateDiv .Wweek {
	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
}
.WdateDiv tr{ 
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}
.WdateDiv .MTitle{
	border-left:1px solid #70a6cc;
	border-right:1px solid #70a6cc;
}
.WdateDiv .MTitle td{
	color: #bbdff9;
	background: #70a6cc;
}
.WdateDiv .WdayTable2{
	border: 1px solid #f0f0f0;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height: 24px;
	color: #333;
	background-color: #fff;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background: url(day-hover.gif) center center no-repeat;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color: #eb0e0e;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background: url(day-hover.gif) center center no-repeat;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color: #70a6cc;
}
.WdateDiv .Wselday{
	background: url(day-selected.gif) center center no-repeat;
	color: #fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{
	cursor:pointer;
	color: #ccc;
}

.WdateDiv .WotherDayOn{
	cursor:pointer;
	color: #ccc;
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	position: relative;
	height: 18px;
	padding: 5px 0;
	line-height: 18px;
	border: 1px solid #f0f0f0;
	border-bottom: none;
}
.WdateDiv #dpTime table{ height:18px !important; overflow:hidden;}
.WdateDiv #dpTime table td{ height:9px !important; overflow:hidden;}
.WdateDiv #dpTime #dpTimeStr{
	margin-left: 50px;
}

.WdateDiv #dpTime input{
	height: 18px;
	width:18px;
	line-height: 18px;
	text-align:center;
	color: #000;
	border: none;
	background: #fff;
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}


.WdateDiv #dpTime .tm{
	width:7px;
}

.WdateDiv #dpTime #dpTimeUp{
	display:block;
	height: 9px;
	width: 12px;
	border:0px;
	background: url(img.gif) no-repeat 0 -36px;
	 overflow:hidden;
}

.WdateDiv #dpTime #dpTimeDown{
	display:block;
	height: 9px;
	width: 12px;
	border:0px;
	background: url(img.gif) no-repeat 0 -45px;
}

.WdateDiv #dpQS {
	position: absolute;
	bottom: 29px;
	right: 52px;
	background:url(img.gif) no-repeat -12px -36px;
	width:15px;
	height:15px;
	cursor:pointer;
}
.WdateDiv #dpControl {
	border-left:1px solid #f0f0f0;
}
.WdateDiv .dpButton{
	height:23px;
	width: 80px;
	margin-left: -1px;
	border: 1px solid #f0f0f0;
	background-color: #fcfcfc;
	cursor:pointer;
}
#dpTodayInput{ width:79px;}
.WdateDiv .dpButton:hover{ color:#70a6cc;}