body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,table,th,td{ margin: 0; padding: 0}
body,input,button,select,textarea,table{ font: normal 12px/1.5 "\5FAE\8F6F\96C5\9ED1"; color: #333;}
li{ list-style: none;}
a,input,button,textarea,select{ outline: none; border: none;}
table{ border-collapse:collapse; border-spacing:0;}
a{text-decoration: none;}
img{ border:none; vertical-align:middle;}
input{ background:#fff;}
input[type="checkbox"]{ vertical-align:middle; }
html,body{ width: 100%; height: 100%; overflow: hidden;background:#85ccc2;}
.w113{ width:113px !important;}

.btn{ display: inline-block; background: url(../images/icon.png?d=1117) no-repeat; width: 20px; height: 20px; text-indent: -9999em; overflow: hidden; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; cursor:pointer; *text-indent: 0; font-size: 0;transition:background 0.3s ease 0s, color 0.2s linear 0s;}
.name-search-btn{ background-position: 0 0;}
.help-btn{ background-position: -192px 0;}
.dep-search-btn{ background-position: -24 0;}
.add-btn{ background-position: -50px -2px;}
.add-btn:hover{ background-position: -50px -22px;}
.del-btn{ background-position: -74px -2px;}
.del-btn:hover{ background-position: -74px -22px;}
.edit-btn{ background-position: -98px -2px;}
.edit-btn:hover{ background-position: -98px -22px;}
.up-btn{ background-position: -146px -2px;}
.up-btn:hover{ background-position: -146px -22px;}
.down-btn{ background-position: -170px -2px;}
.down-btn:hover{ background-position: -170px -22px;}
.transfer-btn{ background-position: -122px -2px;}
.transfer-btn:hover{ background-position: -122px -22px;}
.export-btn{ background-position: -218px -2px;}
.export-btn:hover{ background-position: -218px -22px;}
.btn-export{ background-position: -266px -2px;}
.btn-export:hover{ background-position: -266px -22px;}
.btn-view:hover{ background-position: -242px -22px;}
.btn-view{ background-position: -242px -2px;}
.btn-edit{ background-position: -338px -2px;}
.btn-edit:hover{ background-position: -338px -22px;}
.set-btn{ background-position: -292px -4px;}
.set-btn:hover{background-position: -292px -20px;}
.pwd-btn{ background-position: -365px -4px;}
.pwd-btn:hover{ background-position: -365px -20px;}
.help-btn{ background-position: -196px -4px;}
.help-btn:hover{ background-position: -196px -20px;}
.quit-btn{ background-position: -316px -4px;}
.quit-btn:hover{ background-position: -316px -20px;}

/* 图标 */
.icon{ display: inline-block; width: 32px; height: 32px; background: url(../images/icons.png) no-repeat; vertical-align: middle;}
.icon-open-screen{ background-position: 0 0;}
.icon-close-screen{ background-position: -32px 0;}
.icon-restart-equip{ background-position: -64px 0;}
.icon-save-scene{ background-position: -96px 0;}
.icon-scene-carousel{ background-position: -128px 0;}
.icon-signal-carousel{ background-position: -160px 0;}
.icon-program-manage{ background-position: -192px 0;}
.icon-system-manage{ background-position: -224px 0;}
.icon-user{ width: 24px; height: 24px; background-position: 0 -32px;}
.icon-close{ width: 24px; height: 24px; background-position: -24px -32px;}
.icon-search{ width: 20px; height: 21px; background-position: 0 -56px;}
.icon-normal{ width: 16px; height: 16px; background-position: -24px -56px;}
.icon-username{ width: 16px; height: 18px; background-position: -362px -50px;}
.icon-password{ width: 14px; height: 18px; background-position: -386px -50px;}

/* 滚动条重置 */
.nano > .nano-pane{ width: 8px;}


.header{ position: relative;height:86px;border-bottom:4px solid #e77919;background: url(../images/bg_hd.png) repeat-x 0 0;}
.logo{ padding-top:25px; padding-left:25px;padding:31px 15px;background:url(../images/bg_hdl.png) no-repeat 0 0;}
.logo h1{  height: 24px; line-height: 24px; font-size: 22px; color: #fff; text-indent:175px;background: url(../images/logo-enjoyor.png) no-repeat;}
.m-admin{ position:absolute; top:0; right:0; width:263px;height:29px;padding-right:15px;color:#fff; background:url(../images/bg_admin.png) no-repeat;text-align:right;}
.m-admin .u-admin{ color:#e77919;}
.m-admin p{float:left;display:inline-block;*display:inline;overflow:hidden;height:28px;line-height:28px;margin-left:30px;margin-right:15px;}
.m-admin .btn{width:16px;height:16px;margin:6px 0px 6px 10px;}
.header-search-box{ position: absolute; right: 15px; top: 43px;height: 24px;}
.header-search-box .search-form{ width: 290px; height: 24px; position: relative;}
.search-filter{ float: right; border-radius: 3px; position:relative; background:#fff;}
.search-input{ background: none; padding: 6px 8px; width: 210px; height: 16px; line-height: 16px; margin-right: 8px; overflow: hidden; border-radius:3px;}
.search-input::-webkit-input-placeholder { color:#f1f1f1;}
.input-placeholder{ position: absolute; left: 8px; top: 2px; color: #f1f1f1; display: none;}
.search-val{ display:none;visibility:hidden; position:absolute; left:1px; top:1px; max-width:90%; white-space:nowrap; background:url(../images/bg_tag.png) no-repeat 0 -44px; padding-left:1px; height:22px;}
.search-val span{ display:block; padding:0 6px; line-height:22px; color:#fff; background:url(../images/bg_tag.png) repeat-x 0 -22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.search-val .icon-close{ position:absolute; right:-12px; top:0; color:#fff; background:url(../images/bg_tag.png) no-repeat 0 0; width:12px; height:22px;}
.header-search-box .btn{ position: absolute;right:4px;top:2px;}

.main{ position: absolute; top: 106px; bottom: 15px; left: 15px; right: 15px;}

.aside{ position:absolute; left: 0; top: 0; width: 275px; height: 100%; overflow: hidden;}
.m-title{ height:40px; line-height:40px; padding:0 10px; overflow:hidden; border-top-left-radius: 5px; border-top-right-radius: 5px; background:url(../images/bg_title.png) repeat-x;}
.m-title label{ color:#fff; font-size:14px;}
.aside .search-filter{ position: absolute; width: auto; float: none; left: 10px; right: 27px; top:50px;}
.aside .search-box{ padding:10px; height: 30px; background: #fff;}
.aside .search-form .search-input{ width: 100%; border:1px solid #e1e1e1;}
#parlabelVal{ display:none; position:absolute; left:1px; top:1px; max-width:90%; white-space:nowrap; background:url(../images/bg_tag.png) no-repeat 0 -44px; padding-left:1px; height:22px;}
#parlabelVal span{ display:block; padding:0 6px; line-height:22px; color:#fff; background:url(../images/bg_tag.png) repeat-x 0 -22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.aside .search-filter .icon-close{ position:absolute; right:-12px; top:0; color:#fff; background:url(../images/bg_tag.png) no-repeat 0 0; width:12px; height:22px;}
.aside .search-filter .icon-close:hover{ -background-position:-244px -26px;}


#parlabelVal{ display:none; position:absolute; left:1px; top:1px; max-width:90%; white-space:nowrap; background:url(../images/bg_tag.png) no-repeat 0 -44px; padding-left:2px; height:22px;}
#parlabelVal span{ display:block; padding:0 5px; line-height:22px; color:#fff; background:url(../images/bg_tag.png) repeat-x 0 -22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.aside .search-filter .icon-close{ position:absolute; right:-12px; top:0; color:#fff; background:url(../images/bg_tag.png) no-repeat 0 0; width:12px; height:22px;}
.aside .search-filter .icon-close:hover{ -background-position:-244px -26px;}
.aside .search-form .btn{ position: absolute; right: 13px; margin-top:6px;}
.dep-box{ position: absolute; top: 90px; bottom: 0; left: 0; right: 0; width:100%; background:#fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.dep-box-nano{ border-top:1px solid #d7d7d7; width: auto; height: auto;position: absolute; top: 0; bottom: 0; right: 0; left: 0;}

.btn-bar{ float:right;}
.btn-bar .btn{ margin:10px 0 0 10px;}

.main-content{ position: absolute; left: 290px; right: 0; top: 0; height: 100%; overflow: hidden;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.contact-table{ height: 100%; position: relative; background:#fff;}
table tbody tr td:first-child+td,
.col2,table tbody tr td:first-child+td+td,
.col3{ text-align: left !important;}
.co11{ width:5%;}
.col2{ width:5%;}
.col3{ width:75%;}
.col4{ width:15%;}
table tbody tr td:first-child+td+td+td span{ float:none;}
.contact-table table{ width: 100%;}
.contact-table table th,.contact-table table td{ height: 38px; line-height: 38px; text-align:center; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; border-bottom: 1px solid #e0e0e0;}
.contact-head-box{ margin-top:0px;}
.contact-head-box th{ font-size: 12px; background:#fafafa !important;}
.contact-head-box th span{ padding:0 10px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; text-align:center;}
.contact-list-box{ position: absolute; top: 38px; bottom: 0; left: 0; right: 0;}
.contact-list-nano{ border: 1px solid #e1e1e1; border-top:none; border-bottom:1px solid #d7d7d7; width: auto; height: auto; position: absolute; top: 0; left: 0; right: 0; bottom:0;}
.contact-list-content{ position: absolute; left:0; right:17px; width: 100%;}
.contact-list-box td{ /* IE/Safari */-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;/* Opera */-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/  transition: .3s;}
.contact-list-box .odd-row td{ background: #fafafa;}
.contact-list-box .hover td{ background: #f0faf9;}
.contact-list-box .selected-row td{ background: #f0faf9;}
.main-content .btn-bar{ border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.contact-list-box td *{ vertical-align:middle;}
.contact-list-box td img{ display:none; margin-left:5px;}

.seperate-bar{ background: url(../images/seperate-line.png) 0 center no-repeat; width: 5px; height: 100%; position: absolute; left: 280px; cursor: e-resize;}
.seperate-bar.active{ background: #000; opacity: .3; filter:alpha(opacity=30);}


.form-row{ display: block; padding: 8px 0; overflow: hidden;border-bottom:1px solid #d3e1e2;}
.form-row .label{ width: 7em; text-align: right; display: inline-block; vertical-align: middle;margin:0 15px;}
.form-row .input-text{ border:1px solid #dfdfdf; background: #fff; height: 14px; width: 180px; padding:3px 5px; vertical-align: middle; transition: box-shadow 0.30s ease-in-out;}
.form-row .input-text:focus{ border: 1px solid #87c6f9 ; box-shadow: 0 0 8px rgba(103, 166, 217, 1);}
.form-btns{ text-align: center; margin: 0 auto;padding:20px 0;}
.dia-btn{ display: inline-block; height: 30px; padding:0 25px;*padding:0 15px; margin:0 10px; background: #a9a9a9; color: #fff; transition: .3s;cursor:pointer; border-radius:4px;}
.cancel-btn{margin-left:8em;}
.submit-btn{ background: #8bcf43;}
.dia-btn:hover{ background: #e77919;}
.form-row .label.long{ width: 11em;}
.form-row .textarea-text{ border:1px solid #dfdfdf; background: #fff; line-height: 20px; height:50px; width: 180px; padding:0 5px; vertical-align: middle; transition: box-shadow 0.30s ease-in-out;}
.form-row .textarea-text:focus{ border: 1px solid #87c6f9 ; box-shadow: 0 0 8px rgba(103, 166, 217, 1);}
.form-row .select{ width: 192px; border: 1px solid #dfdfdf;}

.mask{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #000; opacity: .3; filter:alpha(opacity=30); z-index: 99;}
.m-table{ padding:20px;}
.m-bar{ position:absolute; bottom:20px; left:212px; height:30px; line-height:30px;}
.m-bar a{ cursor:pointer; padding:5px 30px; margin-left:20px; color:#fff; border-radius:3px; background:#067f6f;}
.m-bar a:hover{ background:#e77919;} 
.table-content{ position:relative; height:400px; overflow-x:hidden;}
.table-attachment tr td,.table-attachment tr th{ border-top:0 none !important;}
.u-expho{ color:#067f6f !important; cursor:pointer;}
#fileViewDia,#fileEditDia{ height:500px !important;}
.dialog table tr th{ background:#fafafa;}
.dialog table tr th:first-child{ width:55px !important;}
.dialog table tr td,.dialog table tr th{ overflow:hidden; line-height:24px; text-align:center; padding:0 3px; border:1px solid #e1e1e1;}
.table1 td{ width:50px;}
.table11 tr:nth-last-child(1) td,.table11 tr:nth-last-child(1) th{ border-bottom:0 !important;}
/*.dialog table tr td,.dialog table tr th:not(:first-child){ width:58px;}*/
.dialog table tr img{ width:100px; height:130px; vertical-align:middle;}
.dialog table tr input,
.dialog table tr select{ width:100%; margin-left:-1px; text-indent:1px; height:auto; border:1px solid #e1e1e1;}
.dialog table tr input:focus,
.dialog table tr select:focus{ border: 1px solid #87c6f9 ; box-shadow: 0 0 8px rgba(103, 166, 217, 1);}
.ui-widget-content{ background: #fff;}
.ui-dialog{ padding:0;}
.ui-widget-header{ background: url(../images/bg_title.png) repeat-x; border:none;}
.ui-dialog .ui-dialog-titlebar{ padding:11px 20px;}
.ui-dialog .ui-dialog-titlebar-close{ height: 20px; width: 20px; border-radius:50%; background: url(../images/icons.png?d=141112) no-repeat -242px -46px; border: none; margin-top: -12px; margin-right:4px;transition:background 0.3s ease 0s, color 0.2s linear 0s;}
.ui-dialog .ui-dialog-titlebar-close.ui-state-hover{ background-position:-242px -70px }
.ui-dialog .ui-dialog-title{margin-top: -4px;}
.ui-dialog .ui-state-default .ui-icon{ background: none;}
.ui-dialog .ui-dialog-content{ padding:0;}

.ztree li a:hover {text-decoration:none; color: #e77919;}
.ztree li a.curSelectedNode{ background: none; font-weight: bold; color: #e77919; border: none;}

.nano > .nano-pane{ background:url(../images/bg_nano.png);}
.nano > .nano-pane > .nano-slider{ background: #000; filter:alpha(opacity=40);opacity: .4; }
.nano > .nano-pane.active > .nano-slider{ opacity: .5; filter:alpha(opacity=50);}

.mail{ color:#e77919; display: block; height: 30px; line-height: 30px;}
.mail:hover{ color: #e77919;}
.selected-row .mail{ color: #fff;}

.dia-nano{ border-bottom:1px solid #d3e1e2}
#treedialog{ margin-left:125px; padding:5px;}
.nano-content table tr td span{ float:left;}
.btn-group{ float:right; display:none; padding-right:20px;font-size:0;}
.btn-group a{ margin-left:5px;}
/*tab*/
.slideTxtBox{ overflow:hidden; margin-top:20px;}
.slideTxtBox .hd{ height:28px; line-height:28px; border-bottom:2px solid #067f6f; font-size:14px; }
.slideTxtBox .hd ul{ overflow:hidden; zoom:1; }
.slideTxtBox .hd ul li{ float:left; }
.slideTxtBox .hd ul li a{ display:block; padding:0 10px; margin:0 5px; border-top-left-radius: 3px; border-top-right-radius: 5px; background:#e6e6e6;}
.slideTxtBox .hd ul li a:hover{ text-decoration:none;  }
.slideTxtBox .hd ul li.on a{ background:#067f6f; color:#fff; font-weight:bold;  }
.slideTxtBox .bd{ padding:10px;}
.slideTxtBox .bd p{ text-align:right; height:20px; line-height:20px; margin-bottom:10px;}
.slideTxtBox .bd table tr td input{ text-align:center;}
.icon-tab{display: inline-block; width: 50px; height: 20px; background:url(../images/icon_tab.png) no-repeat; overflow: hidden; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; cursor:pointer; transition:background 0.3s ease 0s, color 0.2s linear 0s; }
.slideTxtBox .bd p a{ margin-right:10px; color:#067f6f; }
.icon-add{ background-position: 0 0;}
.icon-add:hover{ background-position: 0 -20px;}
.icon-edit{ background-position: -69px 0;}
.icon-edit:hover{ background-position: -69px -20px;}
.icon-delete{ background-position: -138px 0;}
.icon-delete:hover{ background-position: -138px -20px;}
.slideTxtBox .bd li{ height:24px; line-height:24px; }
.slideTxtBox .bd li .date{ float:right; color:#999; }
.u-input-select input{ width:79px !important; margin-left:0 !important;}
.u-txt{ width:96%; height:auto; min-height:80px; margin-top:20px; padding:10px; border:1px solid #e1e1e1;}
/* 登录页 */
.m-login-bg{ background: #eeffff url(../images/bg_login.png) repeat-x; font-size: 12px;}
.m-login-box{ position: relative; top: 50%; width: 960px; height: 540px; margin: -270px auto 0; background: url(../images/login-box-bg.png) no-repeat center top;}
.m-login-form{ position: absolute; right: 200px; top: 90px; width: 230px;}
.m-login-logo .m-logo{ font-size: 19px; font-weight:normal; text-align: left; color:#333; background: url(../images/icon.png) 0 -175px no-repeat;}
.m-login-logo .m-logo span{margin-left:4px;font-size:22px;font-weight:700;font-family:Arial;color:#e77919; vertical-align:middle;}
.m-login-row{ width: 228px; height: 18px; line-height: 18px; margin-top: 20px; padding: 5px 0; border: 1px solid #acbfbd; background: #fff; border-radius: 2px;}
.m-login-row label{ float: left; width: 30px; height: 18px; text-align: center; border-right: 1px solid #b2b2b2}
.u-login-ipt{ float: left; width: 197px; height: 18px; line-height: 18px; text-indent: 7px; border: none; color: #666; font-size: 12px;}
.m-login-btn{ margin-top: 20px;}
.m-login-btn .u-login-btn{ width: 230px; height: 30px; color: #fff; font-size: 12px; border: none; background: #e77919; border-radius: 2px; cursor:pointer;}
.m-login-ft{ position: absolute; bottom: 6px; right: 60px;color:#999;}
.m-copyright{ padding-top:40px;text-align:center;color:#266c63;}


/* 帮助 */
.help-dia-box{ height:270px; font-size:12px; padding-top:10px;}
.help-dia-box p{ border-bottom:1px solid #d3e1e2; padding:0 10px 0 20px; line-height:24px; text-indent:10px;}
.help-dia-btns{ text-align:right; margin-right: 20px; padding:20px 0; background:url(../images/logo-enjoyor.png) no-repeat 30px 22px;}


.dia-row{ text-align:center; padding: 8px 0; overflow: hidden; border-bottom:1px solid #d3e1e2;}