/* ---地图工具条--- */
.mapbar{width:100%;left:0px;top:0px;color:#000;height:26px;line-height:26px;border-bottom:1px #ccc solid;background:url(../images/mapbar_bg.png) repeat-x;margin:0px;FILTER: Alpha(opacity=90);}
.mapbar li{float:left;width:100%;height:23px;line-height:23px;display:inline;padding-top:2px;}
.mapbar li span{float:left;padding-left:6px;height:24px;line-height:24px;}
.mapbar li a{float:left;display:inline;width:21px;height:21px;line-height:21px;margin-left:5px;}
.mapbar li a:hover{float:left;display:inline;width:21px;height:21px;line-height:21px;margin-left:5px;background:url(../images/ArcGisImg/mtools_bg.gif) no-repeat;}
.mapbar li a label{float:left;width:21px;height:21px;line-height:21px;}

.a_remove{background:url(../images/ArcGisImg/hand_ico.gif) no-repeat 2px 3px;}/* ---移动--- */
.a_amplify{background:url(../images/ArcGisImg/zoomin_ico.gif) no-repeat 2px 3px;}/* ---放大--- */
.a_reduce{background:url(../images/ArcGisImg/zoomout_ico.gif) no-repeat 2px 3px;}/* ---缩小--- */
.a_restore{background:url(../images/ArcGisImg/restoresize_ico.gif) no-repeat 2px 2px;}/* ---全图--- */
.a_monitor{background:url(../images/ArcGisImg/monitor_ico.gif) no-repeat 2px 3px;}/* ---视频--- */
.a_edit{background:url(../images/ArcGisImg/Edit_ico.gif) no-repeat 2px 2px;}/* ---编辑--- */
.a_sure{background:url(../images/ArcGisImg/Sure_ico.gif) no-repeat 2px 2px;}/* ---确定--- */
.a_layer{background:url(../images/ArcGisImg/layer.png) no-repeat 3px 3px;}/* ---图层--- */
.a_show-magnify{background:url(../images/ArcGisImg/show-magnify.png) no-repeat 3px 3px;}/* ---局部--- */
.a_create{background:url(../images/ArcGisImg/edCreate-point.png) no-repeat 3px 3px;}/* ---增加--- */
.a_update{background:url(../images/ArcGisImg/edCreate-point.png) no-repeat 3px 3px;}/* ---更新--- */
.a_edCreate-point{background:url(../images/ArcGisImg/edCreate-point.gif) no-repeat 3px 3px;}/* ---取点--- */
.a_delete{background:url(../images/ArcGisImg/edCreate-pointDel.png) no-repeat 3px 3px;}/* ---删除--- */
.a_edCreate-line{background:url(../images/ArcGisImg/edCreate-line.png) no-repeat 3px 3px;}/* ---轨迹--- */
.a_View{background:url(../images/ArcGisImg/view.png) no-repeat 3px 3px;}/* ---实时--- */
.a_Alarm{background:url(../images/ArcGisImg/exclamation.png) no-repeat 3px 3px;}/* ---报警--- */
.a_Measure{background:url(../images/ArcGisImg/mi.png) no-repeat 3px 3px;}/* ---测量--- */
.a_clear{background:url(../images/ArcGisImg/measure.png) no-repeat 3px 3px;}/* ---擦除--- */